#title {
    background-color: #ff4c68;
    color: aliceblue;
    
}

#features {
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

#full_cover {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding: 3% 15% 6%;
}

.TinTitle {
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
}

.iphone {
    transform: rotate(30deg);
    width: 55%;
    position: absolute;
    right: 30%;
}

.down_area {
    padding-top: 100px;
}

.navbar-brand {
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

.down_btn {
    margin: 5% 3% 5% 0;
}

.navbar {
    padding: 0;
}

#features {
    padding: 7% 15%;
    text-align: center;
}

.sub-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.information {
    padding: 4.5%;
}

.explain {
    color: #8f8f8f;
}

.info-img {
    color: #ef8172;
    size: 10rem;
    padding-bottom: 1.5rem;
}


.info-img:hover {
    color: #ff4c68;
    padding-bottom: 1.5rem;

}

#testimonials {

    background-color: #ef8172;
    color: #fff;
}

h2{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.test-image{ 
    width: 15%;
    border-radius: 100%;
    margin: 20px    ;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
    text-align: center;
}

#pricing {
    padding: 4%;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}
