

.title {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
}

.navbar {
    padding-left: 0;
}

.front-painting {
    padding: 2%;
}

#navigation {
    padding: 1.5rem 3%;
}

#new_images {
    padding: 1.5rem 3%;
    text-align: center;
    color: aliceblue;
}

.internal-images-title {
    font-size: 20px;
}

.huge {
    font-size: 10rem;
}